<!-- ko if: isModuleEnabled() -->
  <div id="quick-menu-wrapper" data-bind="event: { mouseleave: hideQuickMenuItems }">
    <div id="quick-menu-main-icon" data-bind="event: { mouseover: showQuickMenuItems }">
      <img src="">
    </div>

    <div id="quick-menu-items">
      <!-- ko foreach: { data: getItems(), as: 'item' } -->
        <div
          attr="'data-text': item.text"
          class="quick-menu-item"
        >
          <img attr="id: 'quick-menu-item-' + item.item_id, src: item.image, alt: item.text, 'data-link': item.redirect_link, 'data-background': item.background" class="quick-menu-item-img">
        </div>
      <!-- /ko -->
    </div>
  </div>

  <div data-bind="afterRender: initQuickMenu"></div>
<!-- /ko -->
