<!-- ko if: isModuleEnabled() -->
  <div id="speed-dial-wrapper" data-bind="event: { mouseleave: hideSpeedDialItems }">
    <div id="speed-dial-main-icon" data-bind="event: { mouseover: showSpeedDialItems }">
      <img src="">
    </div>

    <div id="speed-dial-items">
      <!-- ko foreach: { data: getItems(), as: 'item' } -->
        <div
          attr="'data-text': item.text"
          class="speed-dial-item"
        >
          <img attr="id: 'speed-dial-item-' + item.item_id, src: item.image, alt: item.text, 'data-link': item.redirect_link, 'data-background': item.background" class="speed-dial-item-img">
        </div>
      <!-- /ko -->
    </div>
  </div>

  <div data-bind="afterRender: initSpeedDial"></div>
<!-- /ko -->
