<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Caio\QuickMenu\Api\ItemRepositoryInterface" type="Caio\QuickMenu\Model\ItemRepository" />
	<preference for="Caio\QuickMenu\Api\Data\ItemInterface" type="Caio\QuickMenu\Model\Data\Item" />
	<preference for="Caio\QuickMenu\Api\Data\ItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
	<virtualType name="Caio\QuickMenu\Model\ResourceModel\Item\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">caio_quickmenu_item</argument>
			<argument name="resourceModel" xsi:type="string">Caio\QuickMenu\Model\ResourceModel\Item\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="caio_quickmenu_item_listing_data_source" xsi:type="string">Caio\QuickMenu\Model\ResourceModel\Item\Grid\Collection</item>
			</argument>
		</arguments>
	</type>


	<type name="Caio\QuickMenu\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">quickmenu_icon/tmp</argument>
			<argument name="basePath" xsi:type="string">quickmenu_icon/</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="gif" xsi:type="string">gif</item>
				<item name="png" xsi:type="string">png</item>
			</argument>
		</arguments>
	</type>
</config>