<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Caio::top_level" title="Caio" module="Caio_SpeedDial" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Caio_SpeedDial::caio_speeddial_item" title="item" module="Caio_SpeedDial" sortOrder="9999" resource="Magento_Backend::content" parent="Caio::top_level" action="caio_speeddial/item/index"/>
	</menu>
</config>
