#quick-menu-wrapper{
	position: fixed;
	z-index: 99999999;

	display: flex;
	justify-content: end;
	align-items: end;
	width: 60px;
}

#quick-menu-main-icon{
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: gray;
	border-radius: 50px;

	z-index: 20;
}

#quick-menu-main-icon img{
	border-radius: 100px;
	cursor: pointer;
	overflow: hidden;
}

#quick-menu-items{
	position: relative;
}

.quick-menu-item{
	position: absolute;
	right: 0px;
	bottom: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: .5s bottom ease;
}

.quick-menu-item-img{
	z-index: 10;
	border-radius: 50px;
}
