#speed-dial-wrapper{
	position: fixed;
	z-index: 99999999;

	display: flex;
	justify-content: end;
	align-items: end;
	width: 60px;
}

#speed-dial-main-icon{
	display: flex;
	justify-content: space-between;
	align-items: center;

	background: gray;
	border-radius: 50px;

	z-index: 20;

	cursor: pointer;
}

#speed-dial-main-icon img{
	border-radius: 100px;
}

#speed-dial-items{
	position: relative;
}

.speed-dial-item{
	position: absolute;
	right: 0px;
	bottom: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	transition: .5s bottom ease;
}

.speed-dial-item-img{
	z-index: 10;
	border-radius: 50px;
}
